@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Bebas+Neue&family=Archivo+Black&family=Leckerli+One&family=Source+Sans+3:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #595959;
    --text-color-alternative: #0D0D0D;
    --text-link-color: #BFBFBF;
    --background-color-dark: #F2F2F2;
    --background-color: white;
    --text-color-light: #8C8C8C;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--text-color);
}

/*font-family*/

.gallery-headers-sections-name{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 68px;
}
.gallery-headers-paragraph-welcome,
.gallery-nav-sections-button,
.gallery-footer {
    font-family: 'Source Sans 3', sans-serif;
}
.gallery-headers-big-paragraph,
.gallery-position-name {
    font-family: 'Dangrek', cursive;
}
/*font-family*/

.navbar {
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;
}

@media (min-width: 992px){
    .container {
        width: 70%;
        max-width: 1200px;
        margin-left: 25%;
        margin-right: 5%;
    }
    .navbar {
        max-width: 20%;
    }

}