#about-me h2 {
    margin: 20px auto;
}

.about-me-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.about-me-photo img {
    width: 100%;
    object-fit: cover;
}

.about-me-photo {
    padding: 10px 0;
    text-align: center;
}

.about-me-text div,
.about-me-text h3 {
    flex: 1;
    padding: 5px;
}

@media (min-width: 774px) {
    .about-me-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-me-photo {
        flex: 1;
    }
    .about-me-text {
        flex: 2;
        padding: 10px 30px;
    }
}

@media (min-width: 991px) {
    .about-me-content {
        margin-top: 80px;
    }
    .about-me-photo {
        flex: 1;
    }
    .about-me-text {
        flex: 2;
    }
}
